{% load static %}
<link href="{% static 'css/bulma.css' %}" rel="stylesheet">
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <strong>QuestionServer</strong>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/objectives">
        Objectives
      </a>
      <a class="navbar-item" href="/questions">
        Questions
      </a>
      <a class="navbar-item" href="/tests">
        Tests
      </a>
      <a class="navbar-item" href="/testevents">
        Test Events
      </a>
      <a class="navbar-item" href="/students">
        Students
      </a>
    </div>  
  </div>
</nav>
<body>
{% block content %}
{% endblock %}
</body>
