<form action='loadquestions' method='post'>
    <button type="submit">Load Questions</button>
</form>
<body>
{% for question in questions %}
<h1>{{question.path_key}}</h1>
<h2>{{question.description}}</h2>
<ul>
{% for file in question.files.all %}
    <li>{{file.path}}</li>    
{% endfor %}
</ul>
<h3>Test cases</h3>
<ul>
{% for suite in question.suites.all %}
    <li>{{suite.name}}</li>
    <ul>
    {% for test in suite.testcases.all %}
        <li>{{test.name}}</li>
    {% endfor %}
    </ul>
{% endfor %}
</ul>
<h3>Objectives</h3>
<ul>
{% for objective in question.objectives.all %}
<li>{{objective.name}} : {{objective.description}}</li>
{% endfor %}
</ul>
<h3>Tests<h3>
<ul>
{% for test in question.tests.all %}
<li>{{test.name}}</li>
{% endfor %}
</ul>
{% endfor %}
</body>





