{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="box">
<form action='createobjective' method="post" novalidate>
{{objectiveform}}
<button type="submit" class="button is-primary">Create Objective</button>
</form>
</div>
</div>
<hr>
<div class="container">
{% for o in os %}
<div class="box has-background-grey-lighter">
<a name="obj-{{o.objective.id}}"></a> 
<h1 class="title is-4">{{o.objective.name}}</h1>
<div class="notification">
<p>{{o.objective.description}}</p>
<hr>
<div class="columns">
    <div class="column is-one-quarter">
        <div class="box">
        <nav class="level has-text-centered">
        <div class="level-item">
            <div>
            <p class="heading">Average Completion Rate</p>
            <progress class="progress is-success" value="{{o.total.avg|floatformat:2}}" max="100">50%</progress>
            <p class="title is-5">{{o.total.avg|floatformat:2}} %</p>
            </div>
        </div>
        </nav>
        </div>
    </div>
    <div class="column">
        <div class="box has-background-white">
        <div class="title is-5">Questions:</div>
            <div class="buttons">
            {% for question in o.objective.questions.all %}
            <a href="/questions#{{question.path_key}}" class="button is-info is-small">{{question}}</a>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="column">
        <div class="box has-background-white">
        <div class="title is-5">Tests:</div>
            <div class="buttons">
            {% for test in o.tests %}
            <a href="/tests#{{test.id}}" class="button is-info is-small">{{test.name}}</a>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
</div>
{%endfor%}
</div>
{% endblock %}




