{% extends "base.html" %}

{% block content %}
<section>
<div class="container">
<form action='loadquestions' method='post'>
    <button class="button is-primary" type="submit">Reload Questions</button>
</form>
</div>
</section>
<section>
{% for q in qs %}
<div class="container">
<div class="box">
<a name="{{q.question.path_key}}"></a>
<p class="title is-3">{{q.question.path_key}}</p>
<h2 class="subtitle">{{q.question.description}}</h2>
<body>
<div class="box">
<nav class="level">
  <div class="level-left has-text-centered">
    <div>
      <p class="heading">Difficulty Rating</p>
      <p class="title is-5">{{q.total.difficulty}}</p>
    </div>
  </div>
  <div class="level-left has-text-centered">
    <div>
      <p class="heading">Average Completion Rate</p>
      <progress class="progress is-success" value="{{q.total.avg_completion}}" max="100">50%</progress>

      <p class="title is-6">{{q.total.avg_completion|floatformat:2}} %</p>
    </div>
  </div>
  <div class="level-left has-text-centered">
    <div>
      <p class="heading">Average Time on Question</p>
      <p class="title is-5">{{q.total.avg_time}}</p>
    </div>
  </div>
  <div class="level-left has-text-centered">
    <div>
      <p class="heading">Average Jitter</p>
      <p class="title is-5">{{q.total.avg_jitter}}</p>
    </div>
  </div>
</nav>
</div>
<h3 class="title is-4">Objectives</h3>
<div class="notification">
<div class="container">
<div class="buttons">
{% for objective in q.question.objectives.all %}
<a href="/objectives#obj-{{objective.id}}" class="button is-link">{{objective.name}} : {{objective.description}}</a>
{% endfor %}
</div>
</div>
</div>
<h3 class="title is-4">Files</h3>
<div class="notification is-small">
<ul>
{% for file in q.question.files.all %}
    <li>{{file.path}}</li>    
{% endfor %}
</ul>
</div>
<h3 class="title is-4">Test cases</h3>
<div class="notification">
<ul>
{% for suite in q.question.suites.all %}
    <li>{{suite.name}}</li>
    <ul>
    {% for test in suite.testcases.all %}
        <li>{{test.name}}</li>
    {% endfor %}
    </ul>
{% endfor %}
</ul>
</div>
<h3 class="title is-4">Associated Tests</h3>
<div class="notification">
<div class="container">
<div class="buttons">
{% for test in q.question.tests.all %}
<a href="/tests" class="button is-info">{{test.name}}</a>
{% endfor %}
</div>
</div>
</div>
</body>
</div>
</div>
{% endfor %}
</section>
{% endblock %}






