{% extends "base.html" %}

{% block content %}
<form action='addstudent' method='post'>
    {{ form }}
    <button type="submit">Create Student</button>
</form>
<body><title>Current Students</title>
<ul>
    {% for student in students %}
    <li><a href="/{{student.id}}/">{{student.id}}: {{student.first_name}} {{student.last_name}}</a></li>
    {% endfor %}
</ul>
</body>
{% endblock %}





