
{% extends "base.html" %}

{% block content %}
<section>
<div class="container">
<div class="box">
  <form action='createtestevent' method="post" novalidate>
  {{create_test_form}}
  <button type="submit" class="button is-primary">Create Event</button>
  </form>
</div>
</div>
</section>
{% for event in testevents %}
<section class="section">
<div class="container">
<div class="box">

{% if event.started and not event.ended %}
<div class="box has-background-primary">
{% else %}
<div class="box">
{% endif %}
<nav class="level">
  <div class="level-left has-text-centered">
    <div>
      <a href="/{{event.id}}" class="title is-4">{{event.name}}</a>
    </div>
  </div>

{% if not event.started and not event.ended %}
  <div class="level-left has-text-centered">
    <div>
      <p class="heading">Action</p>
      <form method="post" action="/{{event.id}}/">
      <input type="hidden" name="action" value="startevent" />
          <button class="button is-link" type="submit">Start Test</button>
      </form>
    </div>
  </div>
{% elif event.started and not event.ended %}
  <div class="level-left has-text-centered">
    <div>
      <p class="heading">Action</p>
      <form method="post" action="/{{event.id}}/">
      <input type="hidden" name="action" value="endevent" />
          <button class="button is-link" type="submit">End Test</button>
      </form>
    </div>
  </div>
{% else %}
  <div class="level-left has-text-centered">
    <div>
      <p class="heading">Results</p>
      <a href="/{{event.id}}/results" class="button is-link">Lets go!</a>
    </div>
  </div>
{% endif %}

  <div class="level-left has-text-centered">
    <div>
      <p class="heading">Test</p>
      <a href="/tests" class="button">{{event.test}}</a>
    </div>
  </div>
  <div class="level-left has-text-centered">
    <div>
      <p class="heading">Start Time</p>
      {% if not event.started %}
      <p class="title is-5">Event Not Started</p>
      {% else %}
      <p class="title is-5">{{event.start_time}}</p>
      {% endif %}
    </div>
  </div>
  <div class="level-left has-text-centered">
    <div>
      <p class="heading">End Time</p>
      {% if not event.started %}
      <p class="title is-5">Event Not Started</p>
      {% elif not event.ended %}
      <p class="title is-5">Event Ongoing</p>
      {% else %}
      <p class="title is-5">{{event.end_time}}</p>
      {% endif %}
    </div>
  </div>
</nav>
</div>

<h1 class="title is-4">Students</h1>
<div class="notification">
{% if event.students.all %}
    <div class="tags are-medium">
    {% for student in event.students.all %}
    <span class="tag is-info">{{student}}</span>
    {% endfor %}
    </div>
{% else %}
<div class="notfication is-warning">No Students for event</div>
{% endif %}
</div>

<h1 class="title is-4">Questions</h1>
<div class="notification">
    <div class="buttons">
    {% for question in event.test.questions.all %}
    <a href="/questions#{{question.path_key}}" class="button is-info is-small">{{question.path_key}}</a>
    {% endfor %}
    </div>
</div>

</div>
</div>
{% endfor %}

{% endblock %}




