{% extends "base.html" %}

{% block content %}
<section>
<div class="container">
<div class="box">
<form action='createtest' method='post'>
    {{ form }}
    <button type="submit" class="button is-primary">Create Test</button>
</form>
</div>
</div>

<section>
{% for t in ts %}
<div class="container">
<div class="box has-background-grey-lighter">
<a name={{t.test.id}}></a>
<h1 class="title is-3">{{t.test.name}}</h1>
<h2 class="subtitle">{{t.test.description}}</h2>
<div class="columns">
    <div class="column">
        <div class="box">
        <div class="title is-5">Questions:</div>
            <div class="buttons">
            {% for question in t.test.questions.all %}
            <a href="/questions#{{question.path_key}}" class="button is-info is-small">{{question}}</a>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="column">
        <div class="box">
        <div class="title is-5">Objectives:</div>
            <div class="buttons">
            {% for obj in t.objs %}
            <a href="/objectives#obj-{{objective.id}}" class="button is-info is-small">{{obj.name}} : {{obj.description}}</a>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="column">
        <div class="box">
        <div class="title is-5">Test Events:</div>
            <div class="buttons">
            {% for event in t.test.test_events.all %}
            <a href="/{{event.id}}" class="button is-info is-small">{{event.name}}</a>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endfor %}
</section>
{% endblock %}





