{% extends "base.html" %}

{% block content %}
<div class="container">
<h1 class="title"><div class="heading">Test Event Report for:</div><a href="/{{event.id}}"> {{ event.name }}</a></h1>
<p class="content">
Test: <a href="/tests"> <strong> {{ event.test }} </strong></a> <br>

Start time:<strong> {{ event.start_time }} </strong> <br>

End time: <strong> {{ event.end_time }} </strong>

</p>
</div>
<section class="section">
<div class="container">
<div class="box has-background-grey-lighter">
<h1 class="title is-4">Overall:</h1>
<div class="box">
<nav class="level">
  <div class="level-right has-text-centered">
    <div>
      <p class="heading">Test Duration</p>
      <p class="title is-5">{{event.duration}}</p>
    </div>
  </div>
  <div class="level-right has-text-centered">
    <div>
      <p class="heading">Number of Questions</p>
      <p class="title is-5">{{total_questions}}</p>
    </div>
  </div>
  <div class="level-right has-text-centered">
    <div>
      <p class="heading">Number of Objectives</p>
      <p class="title is-5">{{total_obj}}</p>
    </div>
  </div>
  <div class="level-right has-text-centered">
    <div>
      <p class="heading">Students Tested</p>
      <p class="title is-5">{{total_students}}</p>
    </div>
  </div>
</nav>
</div>
<div class="box">
<nav class="level">
  <div class="level-right has-text-centered">
    <div>
      <p class="heading">Average Completion Time</p>
      <p class="title is-5">{{avg_completion}}</p>
    </div>
  </div>
  <div class="level-right has-text-centered">
    <div>
      <p class="heading">Total Students Passed</p>
      <progress class="progress is-info" value="{{passed}}" max="{{total_students}}">50%</progress>
      <p class="title is-6">{{passed}}</p>
    </div>
  </div>
  <div class="level-right has-text-centered">
    <div>
      <p class="heading">Average Question Completion</p>
      <progress class="progress is-info" value="{{questions_bar}}" max="100">50%</progress>
      <p class="title is-6">{{questions_bar|floatformat:2}} %</p>
    </div>
  </div>
  <div class="level-right has-text-centered">
    <div>
      <p class="heading">Average Objective Completion</p>
      <progress class="progress is-info" value="{{obj_bar}}" max="100">50%</progress>
      <p class="title is-6">{{obj_bar|floatformat:2}} %</p>
    </div>
  </div>
</nav>
</div>
</div>
</div>

<section class="section">
<div class="container">
<h1 class="title is-3">Questions</h1>
{% for q in qs %}
<div class="box has-background-grey-lighter">
<a name="{{q.question.question}}"></a> 
<h1 class="title is-4">{{q.question.question}}</h1>

<div class="box">
<nav class="level">
  <div class="level-left has-text-centered">
    <div>
      <p class="title is-5">Across All Tests:</p>
    </div>
  </div>
  <div class="level-left has-text-centered">
    <div>
      <p class="heading">Difficulty Rating</p>
      <p class="title is-5">{{q.total.difficulty}}</p>
    </div>
  </div>
  <div class="level-left has-text-centered">
    <div>
      <p class="heading">Average Completion Rate</p>
      <p class="title is-5">{{q.total.avg_completion|floatformat:2}} %</p>
    </div>
  </div>
  <div class="level-left has-text-centered">
    <div>
      <p class="heading">Average Time on Question</p>
      <p class="title is-5">{{q.total.avg_time}}</p>
    </div>
  </div>
  <div class="level-left has-text-centered">
    <div>
      <p class="heading">Average Jitter</p>
      <p class="title is-5">{{q.total.avg_jitter}}</p>
    </div>
  </div>
</nav>
</div>

<div class="box">
<nav class="level has-text-centered">
  <div class="level-item">
    <div>
      <p class="title is-5">This Test:</p>
    </div>
  </div>
  <div class="level-item">
    <div>
      <p class="heading">Average Completion Rate</p>
      <progress class="progress is-success" value="{{q.question.avg_completion}}" max="100">50%</progress>
      <p class="title is-5">{{q.question.avg_completion|floatformat:2}} %</p>
    </div>
  </div>
  <div class="level-item padding-left:10px">
    <div>
      <p class="heading">Average Time on Question</p>
      <progress class="progress is-info" value="{{q.question.portion_time}}" max="100">50%</progress>
      <p class="title is-5">{{q.question.avg_time}}</p>
    </div>
  </div>
  <div class="level-item padding-left:10px">
    <div>
      <p class="heading">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Average Jitter &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      <progress class="progress is-warning" value="{{q.question.jitter_bar}}" max="100">50%</progress>
      <p class="title is-5">{{q.question.avg_jitter}}</p>
    </div>
  </div>
</nav>
</div>

<div class="box has-background-white">
<div class="title is-5">Objectives:</div>
<div class="container">
<div class="tags">
{% for objective in q.question.question.objectives.all %}
<span class="tag is-primary"><a href="#obj-{{objective.id}}">{{objective.name}}</a></span>
{% endfor %}
</div>
</div>
</div>


</div>
{%endfor%}
</div>


<section class="section">
<div class="container">
<h1 class="title">Objectives</h1>
{% for o in os %}
<div class="box has-background-grey-lighter">
<a name="obj-{{o.objective.objective.id}}"></a> 
<h1 class="title is-4">{{o.objective.objective.name}}</h1>
<div class="notification">
<p>{{o.objective.objective.description}}</p>
<hr>
<div class="box has-background-white">
<div class="title is-5">Questions:</div>
<div class="container">
<div class="tags">
{% for question in o.objective.questions.all %}
<span class="tag is-info"><a href="#{{question}}">{{question}}</a></span>
{% endfor %}
</div>
</div>
</div>
</div>

<div class="box">
<nav class="level has-text-centered">
  <div class="level-item">
    <div>
      <p class="title is-5">This Test:</p>
    </div>
  </div>
  <div class="level-item">
    <div>
      <p class="heading">Average Completion Rate</p>
      <progress class="progress is-success" value="{{o.objective.avg}}" max="100">50%</progress>
      <p class="title is-5">{{o.objective.avg|floatformat:2}} %</p>
    </div>
  </div>
  <div class="level-item">
    <div>
      <p class="title is-5">Across All Tests:</p>
    </div>
  </div>
  <div class="level-item">
    <div>
      <p class="heading">Average Completion Rate</p>
      <progress class="progress is-success" value="{{o.total.avg|floatformat:2}}" max="100">50%</progress>
      <p class="title is-5">{{o.total.avg|floatformat:2}} %</p>
    </div>
  </div>
</nav>
</div>

</div>
{%endfor%}
</div>
{% endblock %}