{% extends "base.html" %}

{% block content %}
<div class="container">
<h1 class="title">Test Event: {{ event.name }}</h1>
<h2 class="subtitle">Test: {{ event.test }}  Id: {{ event.id }}</h2>

{% if not event.started and not event.ended %}
<h2> Event not started </h2>
<form method='post'>
<input type="hidden" name="action" value="startevent" />
    <button class="button is-primary" type="submit">Start Test</button>
</form>
{% elif event.started and not event.ended %}
<h2> Event ongoing - started: {{event.start_time}}</h2>
<form method='post'>
<input type="hidden" name="action" value="endevent" />
    <button class="button is-primary" type="submit">End Test</button>
</form>
{% else %}
<h2> Event ended - ended: {{event.end_time}} </h2>
<a href="results" class="button is-link">View Results</a>
{% endif %}

</div>


<section class="section">
<div class="container">
<p class="title is-3">Students</p>
{% if event.students.all %}
{% for student in students %}
<div class="box">
<nav class="level">
    <div class="level-left">
    <div class="level-item">
      {% if student.warn and event.ended%}
      <div class="box has-background-danger">
      {% elif student.warn %}
      <div class="box has-background-warning">
      {% else %}
      <div class="box has-background-success">
      {% endif %}
      </div>
    </div>
    <div class="level-item has-text-centered">
    <p class="title is-5">
        <a href="/{{event.id}}/{{student.object.id}}">{{student.object}}</a>
    </p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Time to Completion</p>
      <p class="title is-5">{{student.totaltime}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Questions</p>
      <p class="title is-5">{{student.passed}} / {{question_sum}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Objectives</p>
      <p class="title is-5">{{student.objectives}} / {{objective_sum}}</p>
    </div>
  </div>
</nav>
</div>
{% endfor %}
{% else %}
<body>No Students for event</body>
{% endif %}
</div>
</section>

<div class="container">
<div class="notification">
<div class="columns">
    <div class="column">
        <div class="box">
        <div class="title is-5">Questions:</div>
            <div class="buttons">
            {% for question in event.test.questions.all %}
            <a href="/questions#{{question.path_key}}" class="button is-info is-small">{{question}}</a>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="column">
        <div class="box">
        <div class="title is-5">Objectives:</div>
            <div class="buttons">
            {% for obj in objs %}
            <a href="/objectives#obj-{{objective.id}}" class="button is-info is-small">{{obj.name}} : {{obj.description}}</a>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
</div>



{% endblock %}