{% extends "base.html" %}

{% block content %}
<div class="container">
<h1 class="title"><a href=".">Test Event: {{ event.name }}</a></h1>
<h2 class="subtitle">Test: {{ event.test }}  Id: {{ event.id }}</h2>
{% if not event.started and not event.ended %}
<h2> Event not started </h2>
{% elif event.started and not event.ended %}
<h2> Event ongoing - started: {{event.start_time}}</h2>
{% else %}
<h2> Event ended - ended: {{event.end_time}} </h2>
{% endif %}
</div>


<section class="section">
<div class="container">
<p class="title is-3">Student: {{student}}</p>
<div class="box">
<nav class="level">
  <div class="level-right has-text-centered">
    <div>
      <p class="heading">Time to Completion</p>
      <p class="title is-5">{{totaltime}}</p>
    </div>
  </div>
  <div class="level-right has-text-centered">
    <div>
      <p class="heading">Questions</p>
      <p class="title is-5">{{eventstats.questions_passed}} / {{question_sum}}</p>
    </div>
  </div>
  <div class="level-right has-text-centered">
    <div>
      <p class="heading">Objectives</p>
      <p class="title is-5">{{eventstats.objectives_passed}} / {{objective_sum}}</p>
    </div>
  </div>
</nav>
</div>
</div>
</section>

<section class="section">
<div class="container">
<p class="title is-3">Questions</p>
{% for q in questions %}
<div class="box">
<nav class="level">
  <div class="level-right has-text-centered">
    <div>
      <p class="heading">Name</p>
      <p class="title is-5">{{q.question.name}}</p>
    </div>
  </div>
  <div class="level-right has-text-centered">
    <div>
      <p class="heading">Total Time on Question</p>
      <p class="title is-5">{{q.time.total_time}}</p>
    </div>
  </div>
  <div class="level-right has-text-centered">
    <div>
      <p class="heading">Unit Tests Passed</p>
      <p class="title is-5">{{q.test.last_test_log.passed_sum}} / {{q.test.last_test_log.tests_run}}</p>
    </div>
  </div>
  <div class="level-right has-text-centered">
    <div>
      <p class="heading">Jitter</p>
      <p class="title is-5">{{q.time.jitter}}</p>
    </div>
  </div>
</nav>
</div>
{% endfor %}
</div>
</section>
{% endblock %}


