{% if test_suites %}
<head>
    <title>Test Event: {{ test_event.name }}</title>
</head>
{% for student in test_event.students %}
<title>Student: {{ student.name }}</title>

{% endfor %}
{% for suite in test_suites %}
<div>
    <h1>{{ suite.name }}</h1>
    <h2>{{ suite.timestamp }}</h2>
    <table style="width:40%">
        <tr>
            <th>Tests</th>
            <th>Failures</th>
            <th>Skipped</th>
            <th>Errors</th>
        </tr>
        <tr>
            <th>{{ suite.tests }}</th>
            <th>{{ suite.failures }}</th>
            <th>{{ suite.skipped }}</th>
            <th>{{ suite.errors }}</th>
        </tr>
     </table>

{% for testcase in suite.testcases.all %}
<div>
    <h2>{{ testcase.name }} ({{ testcase.classname }})</h2>
    <body> Passed: {{ testcase.passed }}
        {% if testcase.message %}
            <div> {{ testcase.message }}</div>
        {% endif %}
    </body>
</div>
{% endfor %}
</div>
{% endfor %}

{% else %}
<h1>Empty Log</h1>
{% endif %}

Summary 
{{ question.name }}
{{ question.description }}
{{ question.objectives }}
{{ total of time spent on all question files }}
??? question.code ???
{{% for testcasesuite in question.testcases %}}
{{ testcasesuite.name }}
{{ testcasesuite.log.latest.tests_run }}, errors, failures, skipped, time, timestamp
{{% for testcase in testcasesuite %}}
{{ testcase.name }} {{ testcase.classname }}
{{ testcase.log.latest.passed }} {{ testcase.log.latest.message }}
{{% endfor %}}
{{% endfor %}}




