{% load l10n %}
{% if window_log %}
    <table style="width:100%">
    {% for item in window_log %}
        <tr>
          <th>{{item.filename}}</th>
          <th>{{item.timestamp|date:"d N Y H:i:s"|localize}}</th> 
        </tr>
    {% endfor %}
    </table>
{% else %}
    <h1>Empty Log</h1>
{% endif %}
